<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.d0924"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.d0924.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.d0924.ZhuActivity"
            android:label="@string/title_activity_zhu" >
        </activity>
        <activity
            android:name="com.example.d0924.ResActivity"
            android:label="@string/title_activity_res" >
        </activity>
        <activity
            android:name="com.example.d0924.JibenActivity"
            android:label="@string/title_activity_jiben" >
        </activity>
        <activity
            android:name="com.example.d0924.KzActivity"
            android:label="@string/title_activity_kz" >
        </activity>
        <activity
            android:name="com.example.d0924.MoshiActivity"
            android:label="@string/title_activity_moshi" >
        </activity>
    </application>

</manifest>