<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.g1014"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.g1014.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.g1014.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.example.g1014.ZongActivity"
            android:label="@string/title_activity_zong" >
        </activity>
        <activity
            android:name="com.example.g1014.JibenActivity"
            android:label="@string/title_activity_jiben" >
        </activity>
        <activity
            android:name="com.example.g1014.MoshiActivity"
            android:label="@string/title_activity_moshi" >
        </activity>
        <activity
            android:name="com.example.g1014.TongjiActivity"
            android:label="@string/title_activity_tongji" >
        </activity>
        <activity
            android:name="com.example.g1014.ShezhiActivity"
            android:label="@string/title_activity_shezhi" >
        </activity>
    </application>

</manifest>